  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    overflow-x: hidden;
    font-family: "Roboto";
    list-style: none;
    background: #000;
  }
  
  nav {
    position: fixed;
    z-index: 100;
    height: 8vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
  }
  
  .logo {
    color: #fff;
    font-weight: 600;
    font-size: 1.6rem;
  }
  
  nav .nav-links ul {
    display: flex;
    flex-direction: row;
  }
  
  nav .nav-links ul li {
    padding: 0 0.4rem;
    list-style: none;
  }
  
  nav .nav-links ul li img {
    transform: scale(0.45);
  }
  
  .bg img {
    width: 110vw;
    height: 110vh;
    filter: brightness(0.6);
  }
  
  .rock1 {
    position: absolute !important;
    left: 10vw !important;
    top: 20vh !important;
  }
  
  .rock1 img {
    width: 40%;
    filter: brightness(0.5);
  }
  
  .titel h1 {
    font-family: "AlphaCentauri" !important;
    font-size: 5vw;
    color: #fff;
    letter-spacing: 2rem;
    position: absolute;
    top: 35vh;
    left: 34vw;
  }
  
  .earth img {
    width: 40rem;
    height: 40rem;
    position: absolute;
    left: 28vw;
    top: 10vh;
    z-index: 1;
    filter: brightness(0.7);
  }
  
  .mid {
    left: -150px !important;
    bottom: -100px !important;
    top: unset !important;
  }
  
  .mid img {
    width: 100%;
    z-index: 2;
    left: -20px;
    top: 20vh !important;
    filter: brightness(0.8);
  }
  
  .fore {
    right: -50px !important;
    bottom: -200px !important;
    top: 0px !important;
    left: unset !important;
  }
  
  .fore img {
    width: 40rem;
    height: 110vh;
    z-index: 3;
    filter: brightness(0.5);
  }

  .sectiontwo{
    background: white;
    height: 50rem;
  }


  .section--reviews{
    padding: 4rem;
    height: auto;
    background: black;
    display: flex;
    align-items: center;
  }

  .arrow{
      width: 10%;
      height: 100%;
      background: black;
      font-size: 300%;
      outline: 0;
      border: 0;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .arrow:hover{
      cursor: pointer;
      background: aquamarine;
      border-radius: 3rem;
  }

  .reviews{
      justify-content: center;
      display: flex;
      background: black;
      align-items: center;
      height: 100%;
      gap: 4rem;
      width: 80%; 
      flex-wrap: wrap;
  }

  .review{
      position:relative;
      display: flex;
      font-size: 2rem;
      min-height: 10rem;
      flex-direction: column;
      padding: 4rem;
      list-style: none;
      width: 25%;
      background: white;
      border-radius: 3rem;
      box-shadow: 1rem 1rem 0 0 aqua;
      animation-name: fadeIn;
      animation-duration: 0.7s;
  }

  .review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
      display: none;
  }

  .quote{
      font-size: 200%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      line-height: 1;
  }

  .stars{
      color: gold;
  }

  .review p{
      font-size: 65%;
      font-style: italic;
      border-bottom: 0.3rem solid black;
      padding-bottom: 2rem;
  }

  @keyframes fadeIn{
      from{
          opacity: 0;
          filter: blur(10px);
      }
      to{
          opacity: 1;
          filter: blur(0px);
      }
  }

  @media  screen and (max-width: 50rem) {
    .arrow{
        display: none;
    }
    .reviews{
        width: 100%;
    }
    
}