@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    height: 9rem;
    background: #41414A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3rem 10%;
}

header > li, a, button{
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    max-height: 8rem;
}

.nav_links{
    list-style: none;
}

.nav_links > li{
    display: inline-block;
    padding: 0 2rem;
}

.nav_links > li > a{
    transition: all 0.3s ease 0s;
}

.nav_links > li > a:hover{
    color: #00B0DB;
}

button{
    padding: 0.9rem 2.5rem;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

body{
    font-size: 2rem;
    font-family: sans-serif;
}

.section{
    height: 100rem; /*placeholder*/
}

.section--first{
    background: green;
}

.section--second{
    background: blue;
}

.section--reviews{
    padding: 4rem;
    height: auto;
    background: black;
    display: flex;
    align-items: center;
}

.arrow{
    width: 10%;
    height: 100%;
    background: black;
    font-size: 300%;
    outline: 0;
    border: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover{
    cursor: pointer;
}

.reviews{
    justify-content: center;
    display: flex;
    background: black;
    align-items: center;
    height: 100%;
    gap: 4rem;
    width: 80%; 
    flex-wrap: wrap;
}

.review{
    position:relative;
    display: flex;
    min-height: 25rem;
    flex-direction: column;
    padding: 4rem;
    list-style: none;
    width: 30rem;
    background: white;
    border-radius: 3rem;
    box-shadow: 1rem 1rem 0 0 aqua;
    animation-name: fadeIn;
    animation-duration: 0.7s;
}

.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
    display: none;
}

.quote{
    font-size: 500%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;
}

.stars{
    color: gold;
}

.review p{
    font-size: 65%;
    font-style: italic;
    border-bottom: 0.3rem solid black;
    padding-bottom: 2rem;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        filter: blur(10px);
    }
    to{
        opacity: 1;
        filter: blur(0px);
    }
}

@media  screen and (max-width: 50rem) {
    .arrow{
        display: none;
    }
    .reviews{
        width: 100%;
    }
    
}